<div class="contenuAdmin">
    
    {{>admin_navigation}}

    <div class='tableaux'>
        <div class="titreComm">
            <h1 class="text-center">Clients</h1>
        </div>
        <div class="tableau">
            <div class="titre">
                <h3>N°</h3>
                <h3>Nom</h3>
                <h3>prénom</h3>
                <h3>Email</h3>
                 <h3>Action</h3>
            </div>
            <div class="contenuTable">
                <p>1</p>
                <p>Kante</p>
                <p>Vezely</p>
                <p>kante@vg.ca</p>
                <button>supprimer</button>
            </div>
        </div>
    </div>
        

    </div>

</div>