{{! <div>
    <form>
        <h3>S'inscrire</h3>
        <div>
            <label for="courriel">Nom:</label> <br>
            <input type="text" name="nom"> <br>
            <label for="prenom">Prénom:</label> <br>
            <input type="text" name="prenom"> <br>
            <label for="courriel">Courriel:</label> <br>
            <input type="email" name="courriel"> <br>
            <label for="password">Mot de passe:</label> <br>
            <input type="password" name="password"> <br>
            <button class="inscription">Inscription</button>
        </div>
    </form>
</div> }}

<section>
	<div class='connection'>
		<div class='form'>
			<img src='/images/veraaLogo.png' alt='logo vera pasta' />
			<h2>Inscription</h2>
			<form id="form-auth">
				<label class='imputBox' for='nom'>
					<input type='text' id='nom' placeholder='Nom' />
					{{! <img class='user' src='/images/user.png' alt='icon' /> }}
				</label>
				<label class='imputBox' for='prenom'>
					<input type='text' id='prenom' placeholder='Prénom' />
					{{! <img class='user' src='/images/user.png' alt='icon' /> }}
				</label>
				<label class='imputBox' for='email'>
					<input type='email' id='email' placeholder='email' />
					{{! <img class='user' src='/images/user.png' alt='icon' /> }}
				</label>

				<label class='imputBox' for='phone'>
					<input type="text" id='phone' placeholder='Telephone' />
					{{! <img class='user' src='/images/user.png' alt='icon' /> }}
				</label>

				<label class='imputBox' for='password'>
					<input type='password' id='password' placeholder='Mot de passe' />
					{{! <img class='password' src='./images/password.png' alt='icon' /> }}
				</label>

				<input type='submit' value='Inscription' />
			</form>
		</div>
	</div>

</section>