<form>
  <div>
    <label for="card-holder">Titulaire de la carte :</label>
    <input type="text" id="card-holder" name="card-holder">
  </div>
  <div>
    <label for="card-number">Numéro de la carte :</label>
    <input type="text" id="card-number" name="card-number">
  </div>
  <div>
    <label for="expiration-date">Date d'expiration :</label>
    <input type="text" id="expiration-date" name="expiration-date">
  </div>
  <div>
    <label for="cvc">CVC :</label>
    <input type="text" id="cvc" name="cvc">
  </div>
  <input type="submit"></input>
</form>
