<div class='contenuPanier'>
	<div class='articles'>
		<div class='articl'>
			<h3>Nom</h3>
			<div class='info'>
				<img src='/images/img_plats/c2.jpg' alt='image' />
				<div class='description'>
					<div class='descripHaut'>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id distinctio illo doloribus rem, fugit nobis. Assumenda labore
							doloremque voluptates eveniet placeat nisi est quas repudiandae similique, odio earum laboriosam cupiditate minima eum aut!
							Doloremque ipsa esse, autem excepturi laudantium dolorem saepe quam fugiat, natus odio accusantium aliquid assumenda deserunt
							distinctio.</p>
						<img src='/images/poubel.png' alt='icon supprimer' />
					</div>
					<div class='descripBas'>
						<p>C$ 34.88</p>
						<div class='volum'>
							<img src='/images/moin.png' alt='icon moin' />
							<div class='nombre'>1</div>
							<img src='/images/plus.png' alt='icon plus' />
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class='articl'>
			<h3>Nom</h3>
			<div class='info'>
				<img src='/images/img_plats/c2.jpg' alt='image' />
				<div class='description'>
					<div class='descripHaut'>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id distinctio illo doloribus rem, fugit nobis. Assumenda labore
							doloremque voluptates eveniet placeat nisi est quas repudiandae similique, odio earum laboriosam cupiditate minima eum aut!
							Doloremque ipsa esse, autem excepturi laudantium dolorem saepe quam fugiat, natus odio accusantium aliquid assumenda deserunt
							distinctio.</p>
						<img src='/images/poubel.png' alt='icon supprimer' />
					</div>
					<div class='descripBas'>
						<p>C$ 34.88</p>
						<div class='volum'>
							<img src='/images/moin.png' alt='icon moin' />
							<div class='nombre'>1</div>
							<img src='/images/plus.png' alt='icon plus' />
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class='articl'>
			<h3>Nom</h3>
			<div class='info'>
				<img src='/images/img_plats/c2.jpg' alt='image' />
				<div class='description'>
					<div class='descripHaut'>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id distinctio illo doloribus rem, fugit nobis. Assumenda labore
							doloremque voluptates eveniet placeat nisi est quas repudiandae similique, odio earum laboriosam cupiditate minima eum aut!
							Doloremque ipsa esse, autem excepturi laudantium dolorem saepe quam fugiat, natus odio accusantium aliquid assumenda deserunt
							distinctio.</p>
						<img src='/images/poubel.png' alt='icon supprimer' />
					</div>
					<div class='descripBas'>
						<p>C$ 34.88</p>
						<div class='volum'>
							<img src='/images/moin.png' alt='icon moin' />
							<div class='nombre'>1</div>
							<img src='/images/plus.png' alt='icon plus' />
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class='payer'>
		<h3>Résumé</h3>
		<div class='calcul'>
			<div class='articleP'>
				<p>Artiles</p>
				<p>56$</p>
			</div>
			<div class='fraisLivre'>
				<p>Frais de livraison</p>
				<p>24.73$</p>
			</div>
			<div class='total'>
				<p>Total</p>
				<p>84.73$</p>
			</div>
		</div>
		<button class='Payer'>Payer(2)</button>
		<div class='modePaye'>
			<h4>Modes de paiement</h4>
			<div class='logoPaye'>
				<img src='/images/paypal.png' alt='logo Mode de payement' />
				<img src='/images/visa.svg' alt='logo Mode de payement' />
				<img src='/images/mastercard.svg' alt='logo Mode de payement' />
			</div>
		</div>
	</div>
</div>